[submodule "open_phantom/external/sam2"]
	path = open_phantom/external/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "open_phantom/external/ml-depth-pro"]
	path = open_phantom/external/ml-depth-pro
	url = https://github.com/apple/ml-depth-pro.git
